.App{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #282c34;
    color: rgb(245, 233, 7);
}
img{
    height: 20vmin;
    pointer-events: none;
    border-radius: 50%;
    margin-top: 150px;
}